mixin paragraph( ...texts)
	each text in texts 
		p!= text

mixin sObjects(cards, title, text)
	// start sObjects
	+b.SECTION.sObjects.section#sObjects&attributes(attributes)
		.container
			+b.section-title--sObject
				h2!= title
				p!= text
			+e.row.row
				if cards
					+e.col.col-6.col-lg-3
						+small-card('> 250', 'Pellentesque mollis nibh non nibh laoreet vulputate.')
						+small-card('> 250', 'Pellentesque mollis nibh non nibh laoreet vulputate.')
						+small-card('> 250', 'Pellentesque mollis nibh non nibh laoreet vulputate.')
					.col-6.col-lg-9
						+pic('sObjects-1.jpg', 'bg', 0)
				else
					+e.col-full-img.col
						+pic('sObjects-1.jpg', 'bg', 0)
			.row
				if cards
				else
					+b.section-title.--indent.--sObject
						h2!= title
						p!= text
				.col-12.col-md-6
					+e.objects-paragraph
						h4 Заголовок
						+paragraph('Pellentesque mollis nibh non nibh laoreet vulputate.', 'Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.','Pellentesque mollis nibh non nibh laoreet vulputate.', 'Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.','Pellentesque mollis nibh non nibh laoreet vulputate.', 'Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.','Pellentesque mollis nibh non nibh laoreet vulputate.', 'Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.','Pellentesque mollis nibh non nibh laoreet vulputate.', 'Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.','Pellentesque mollis nibh non nibh laoreet vulputate.', 'Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.','Pellentesque mollis nibh non nibh laoreet vulputate.', 'Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.','Pellentesque mollis nibh non nibh laoreet vulputate.', 'Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.')
				.col-12.col-md-6
					+e.objects-paragraph
						h4 Заголовок
						+paragraph('Pellentesque mollis nibh non nibh laoreet vulputate.', 'Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.','Pellentesque mollis nibh non nibh laoreet vulputate.', 'Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.','Pellentesque mollis nibh non nibh laoreet vulputate.', 'Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.','Pellentesque mollis nibh non nibh laoreet vulputate.', 'Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.','Pellentesque mollis nibh non nibh laoreet vulputate.', 'Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.','Pellentesque mollis nibh non nibh laoreet vulputate.', 'Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.','Pellentesque mollis nibh non nibh laoreet vulputate.', 'Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.','Pellentesque mollis nibh non nibh laoreet vulputate.', 'Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.')
	// end sObjects